<template>
  <v-btn
    :style="styles"
    color="secondary"
    fab
    fixed
    href="#"
    rel="noopener"
    right
    top
  >
    <v-icon>
      mdi-apple-keyboard-control
    </v-icon>
  </v-btn>
</template>

<script>
  export default {
    name: 'CoreCta',

    computed: {
      styles () {
        return {
          marginTop: `${this.$vuetify.application.top}px`,
        }
      },
    },
  }
</script>
