<template>
  <v-container
    id="about"
    tag="section"
  >
    <base-subheading>A propos...</base-subheading>

    <p>
      Nous référencons les meilleurs endroits à louer pour un séjour à <a href="https://www.zoobeauval.com/">Beauval</a>,
      un des plus beaux zoo du monde!
    </p>
  </v-container>
</template>

<script>
  export default {
    name: 'HomeAbout',
  }
</script>
