<template>
  <v-col
    cols="12"
    :md="size === 2 ? 6 : size === 3 ? 4 : undefined"
  >
    <base-card
      :height="value.prominent ? 450 : 350"
      color="grey lighten-1"
      dark
      :href="value.link"
      target="_blank"
    >
      <v-img
        :src="require(`@/assets/articles/${value.hero}`)"
        height="100%"
        gradient="rgba(0, 0, 0, .42), rgba(0, 0, 0, .42)"
      >
        <v-row
          v-if="!value.prominent"
          class="fill-height text-right ma-0"
        >
          <v-col cols="12">
            <v-chip
              label
              class="mx-0 mb-2 text-uppercase"
              color="grey darken-3"
              text-color="white"
              small
              @click.stop=""
            >
              {{ value.category }}
            </v-chip>

            <h3 class="title font-weight-bold mb-2">
              {{ value.title }}
            </h3>

            <div class="caption">
              {{ value.capacity }}<br>{{ value.location }}
            </div>
          </v-col>

          <v-col align-self="end">
            <v-btn
              :href="value.link"
              class="text-uppercase ma-0"
              color="primary"
              label
              small
              target="_blank"
            >
              Voir
            </v-btn>
          </v-col>
        </v-row>
        <v-row
          v-else-if="value.title"
          class="fill-height text-center ma-0"
          align="center"
          justify="center"
        >
          <v-col cols="12">
            <h2 class="display-2 font-weight-light">
              {{ value.title }}
            </h2>
          </v-col>
        </v-row>
      </v-img>
    </base-card>
  </v-col>
</template>

<script>
  export default {
    name: 'FeedCard',

    props: {
      size: {
        type: Number,
        required: true,
      },
      value: {
        type: Object,
        default: () => ({}),
      },
    },

    methods: {
      goToLink() {
        window.location = this.value.link;
      }
    }
  }
</script>

<style>
.v-image__image {
  transition: .3s linear;
}
</style>
